/* estilos de tipografia de la pagina */
/* Descargar en google fonts "Roboto" y  "Poppins" */
/* Enlace a google fonts: fonts.google.com */

/* Colores del logo de la copa america para la pagina */
/* #073181  Color Azul */
/* #d6d7d9  Color Blanco */
/* #1864db  Color Celeste */
/* #e80c0d  Color Rojo */

@font-face{
    font-family: 'Roboto';
    src: url('/static/Roboto/Roboto-Italic.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('/static/Poppins/Poppins-MediumItalic.ttf');
}

/* Reset de CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuente general */
html{
    font-family: 'Poppins', sans-serif;
    /* font-size: 15px; */
    background-color: #073181;
    color: #fff;
}

.inicio_fijo{
    background-color: #073181;
    color:#fff;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 0; /* Cambiamos el margin a 0 para eliminar cualquier espacio no deseado */
    border: 3px solid #e80c0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Nos aseguramos que inicio_fijo quede arriba permanentemente */
}

.inicio_fijo img {
    width: 30%;
    height: 100%;
    margin: 0 2px;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    background-color: #e80c0d; 
    border-radius: 60px;
}

.nav-list li a:hover {
    background-color: black; 
}

/* Agregamos un padding top para evitarnos que el contenido quede oculto por la clase inicio_fijo */
body {
    padding-top: 120px; 
}

.contenido{
    margin: 5px;
    padding: 20px;
    text-align: justify;
    color:#fff;
}

.encabezado{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    height: 100%;
}


/* ------------------- */
/* ESTILOS PARA GRUPO */
/* ------------------- */

.titulo{
    display: flex;
    color: #fff;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 10px  #fff;
    padding: 3px;
    margin: 3px;
    width: 200px
}
.grupos {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el número de columnas automáticamente */
    gap: 20px;
    padding: 20px;
}

.grupos h2 {
    text-align: center;
    color: #fff;
    background-color: #073181;
    padding: 10px;
    border-radius: 5px;
}

.grupo {
    font-size: 24px;
    border: 2px solid white;
    background-color: #073181;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.grupo h3 {
    color: #fff;
    margin-bottom: 10px;
}

.lista-grupo {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista-grupo li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.lista-grupo li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 0;
}

.partidos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Reducido el espacio entre las fechas */
    align-content: flex-start; /* Alineación ajustada */
}

.fecha {
    background-color: #fff;
    color: #073181;
    border-radius: 10px;
    padding: 5px; /* Reducido el padding */
}

.fecha h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Reducido el tamaño de la fuente */
    margin-bottom: 5px; /* Reducido el margen inferior */
    text-align: center;
}

.partido {
    margin-bottom: 8px; /* Reducido el margen inferior */
}

.partido .fecha {
    font-family: 'Roboto', sans-serif;
    font-size: 12px; /* Reducido el tamaño de la fuente */
    text-align: center;
    background-color: #073181;
    color: #fff;
    border-radius: 5px;
    padding: 3px; /* Reducido el padding */
    margin-bottom: 3px; /* Reducido el margen inferior */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; /* Establecido una altura fija */
}

.partido-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; /* Reducido el padding */
    background-color: #073181;
    color: #fff;
    border-radius: 10px;
    list-style-type: none;
    height: 30px; /* Reducido el tamaño */
}

.partido-item img {
    height: 20px; /* Reducido el tamaño de las imágenes */
    width: 20px;
}

/* Aumento de tamaño en los iconos de las banderas */
.lista-grupo li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 0;
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.lista-grupo li img:hover {
    transform: scale(2.0); /* Aumenta el tamaño del logo al 150% */
}

/* LAYOUT */

.lista-grupo li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease; /* Transición suave */
}

.lista-grupo li img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
}

.inicio_fijo {
    transition: top 0.3s ease-in-out;
}

.enfrentamientos-section {
    text-align: center; /* Centra el texto y las imágenes */
}

.enfrentamientos {
    font-size: 24px;
    border: 2px solid white;
    background-color: #073181;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del artículo */
}

.bandera {
    width: 80px; /* Ajusta el tamaño inicial de las imágenes */
    height: auto;
    margin: 0 10px; /* Añade margen horizontal entre las imágenes */
    transition: transform 0.3s ease, width 0.3s ease; /* Añade transición para el ancho y la transformación */
}

.bandera:hover {
    width: 100px; /* Ajusta el tamaño de la imagen en el hover */
    transform: scale(1.2); /* Amplía la imagen en el hover */
}


.paises-enfrentamientos {
    color:aqua
}

.fechas-enfrentamientos{
    color:#e80c0d
}