@font-face{
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Italic.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-MediumItalic.ttf');
}

/* Reset de CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuente general */
html{
    font-family: 'Poppins', sans-serif;
    /* font-size: 15px; */
    background-color: #073181;
}

.inicio_fijo{
    background-color: #073181;
    color: black;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 0; /* Cambiamos el margin a 0 para eliminar cualquier espacio no deseado */
    border: 3px solid #e80c0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Nos aseguramos que inicio_fijo quede arriba permanentemente */
}

.inicio_fijo img {
    width: 30%;
    height: 100%;
    margin: 0 2px;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    background-color: #e80c0d; 
    border-radius: 60px;
}

.nav-list li a:hover {
    background-color: black; 
}
/* Copiar todo lo que está arriba de esto para que quede fijo el mismo banner */
/* ------------------------------------------------------------------------------- */

/* CSS PARA TABLAS */
body {
    margin-top: 100px;
    font-family: 'Poppins';
    background-color: #073181;
    color: #fff;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.menu {
    display: block;
    margin-bottom: 20px;
}

#comparacion {
    margin-top: 40px;
}

#tabla-comparacion {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Interior tabla */
#tabla-comparacion th,
#tabla-comparacion td {
    background-color: #111;
    color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

/* Modificar nombre de jugadores en la tabla */
#tabla-comparacion th {
    background-color: #111;
    color: #ddd;
    font-weight: bold;
}

#tabla-comparacion td > div {
    height: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
}