<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <link rel="stylesheet" href="../static/css/style_estadisticas.css">
</head>
<body>
    <section class="inicio_fijo">
        <img src="../assets/image/Logo recortado.png" alt="">
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Inicio</a></li>
                <li><a href="../templates/estadisticas.html">Estadisticas</a></li>
                <li><a href="../templates/jugadores.html">Jugadores</a></li>
                <li><a href="../templates/login.html">Login</a></li>
                <li><a href="../templates/selecciones.html">Selecciones</a></li>
            </ul>
        </nav>
    </section>
</body>
</html>

