<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Link al CSS -->
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>

<body>
    <section class="inicio_fijo">
        <img src="../assets/image/Logo recortado.png" alt="">
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Inicio</a></li>
                <li><a href="../templates/estadisticas.html">Estadisticas</a></li>
                <li><a href="../templates/jugadores.html">Jugadores</a></li>
                <li><a href="../templates/login.html">Login</a></li>
                <li><a href="../templates/selecciones.html">Selecciones</a></li>
            </ul>
        </nav>
    </section>

    <section class="contenido">
        <h2>Copa America</h2>
        <p>La Copa América es el principal torneo de fútbol de selecciones nacionales de Sudamérica, organizado por la
            Confederación Sudamericana de Fútbol (CONMEBOL). Comenzó en 1916 y es el torneo internacional de selecciones
            más
            antiguo del continente. Participan los diez equipos nacionales de Sudamérica: Argentina, Bolivia, Brasil,
            Chile,
            Colombia, Ecuador, Paraguay, Perú, Uruguay y Venezuela. El torneo se celebra cada dos o cuatro años y ha
            sido
            testigo de algunos de los momentos más icónicos del fútbol sudamericano. En ocaciones La Copa América a
            veces
            incluye equipos de la Confederación de Fútbol Asociación de América del Norte, Centroamérica y el Caribe
            (CONCACAF) como invitados para aumentar la competencia y atraer más interés. Este formato ha permitido la
            participación de selecciones como México, Estados Unidos y Costa Rica, entre otros, en ediciones recientes
            del
            torneo. La inclusión de equipos de la CONCACAF enriquece el evento y proporciona a los equipos sudamericanos
            más
            oportunidades para competir a nivel internacional</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cumque asperiores a quas nesciunt
            expedita, et saepe corrupti officiis molestiae hic commodi omnis tempora eaque doloribus blanditiis dolorum
            in eos modi cupiditate excepturi nam voluptatibus? Sunt unde ut dolore ducimus eius perferendis aliquid
            dignissimos blanditiis necessitatibus. Dolore eius deleniti quae quos dicta assumenda </p>
    </section>




</body>

</html>
</body>

</html>