<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Link al CSS -->
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>

<body>

<!-- LAYOUT para navbar -->
    {% extends "layout.html" %}

    {% block title %}Inicio{% endblock %}

    {% block content %}


    <!-- <section class="inicio_fijo">
        <img src="../static/image/Logo recortado.png" alt="">
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('estadisticas') }}">Estadisticas</a></li>
                <li><a href="{{ url_for('jugadores') }}">Jugadores</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('selecciones') }}">Selecciones</a></li>
            </ul>
        </nav>
    </section> -->

    <section class="contenido">
        <h2>Copa America</h2>
        <p>La Copa América es el principal torneo de fútbol de selecciones nacionales de Sudamérica, organizado por la
            Confederación Sudamericana de Fútbol (CONMEBOL). Comenzó en 1916 y es el torneo internacional de selecciones
            más
            antiguo del continente. Participan los diez equipos nacionales de Sudamérica: Argentina, Bolivia, Brasil,
            Chile,
            Colombia, Ecuador, Paraguay, Perú, Uruguay y Venezuela. El torneo se celebra cada dos o cuatro años y ha
            sido
            testigo de algunos de los momentos más icónicos del fútbol sudamericano. En ocaciones La Copa América a
            veces
            incluye equipos de la Confederación de Fútbol Asociación de América del Norte, Centroamérica y el Caribe
            (CONCACAF) como invitados para aumentar la competencia y atraer más interés. Este formato ha permitido la
            participación de selecciones como México, Estados Unidos y Costa Rica, entre otros, en ediciones recientes
            del
            torneo. La inclusión de equipos de la CONCACAF enriquece el evento y proporciona a los equipos sudamericanos
            más
            oportunidades para competir a nivel internacional</p>
        <br>
        
    </section>
    <div class="titulo">
        <h2>Grupos</h2>
    </div>
    
    <section class="grupos">
        
        <article class="grupo">
            <h3>Grupo A</h3>
            <ul class="lista-grupo">
                <li><img src="../static/image/Logo_Argentina-removebg-preview.png" alt="Argentina"> Argentina</li>
                <li><img src="../static/image/Logo Canada Sin Fondos.png" alt="Canada"> Canada</li>
                <li><img src="../static/imagE//Logo_Chile-removebg-preview.png" alt="Chile"> Chile</li>
                <li><img src="../static/image/Logo Peru Sin Fondos.png" alt="Peru"> Peru</li>
            </ul>
        </article>

        <article class="grupo">
            <h3>Grupo B</h3>
            <ul class="lista-grupo">
                <li><img src="../static/image/Logo_Mexico-removebg-preview.png" alt="Mexico"> Mexico</li>
                <li><img src="../static/image/Logo Euador Sin Fondos.png" alt="Ecuador"> Ecuador</li>
                <li><img src="../static/image/Logo_Jamaica-removebg-preview.png" alt="Jamaica"> Jamaica</li>
                <li><img src="../static/image/Logo_Venezuela-removebg-preview.png" alt="Venezuela"> Venezuela</li>
            </ul>
        </article>

        <article class="grupo">
            <h3>Grupo C</h3>
            <ul class="lista-grupo">
                <li><img src="../static/image//Logo_Uruguay-removebg-preview.png" alt="Uruguay"> Uruguay</li>
                <li><img src="../static/image/Logo_Panama-removebg-preview.png" alt="Panama"> Panama</li>
                <li><img src="../static/image//Logo_EEUU-removebg-preview.png" alt="EEUU"> EEUU</li>
                <li><img src="../static/image/Logo_Bolivia-removebg-preview.png" alt="Bolivia"> Bolivia</li>
            </ul>
        </article>

        <article class="grupo">
            <h3>Grupo D</h3>
            <ul class="lista-grupo">
                <li><img src="../static/image/Logo_Colombia-removebg-preview.png" alt="Colombia"> Colombia</li>
                <li><img src="../static/image/Logo_Braasil-removebg-preview.png" alt="Brasil"> Brasi</li>
                <li><img src="../static/image/Logo_Costa_Rica-removebg-preview.png" alt="Costa Rica"> Costa Rica</li>
                <li><img src="../static/image/Logo_Paraguay-removebg-preview.png" alt="Paraguay"> Paraguay</li>
            </ul>
        </article>
    </section>
    
    {% endblock %}

</body>

</html>
</body>

</html>